[Unit]
Description=ClickClack service for webeditor

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/python3 webedit/server.py
WorkingDirectory=/home/pi/clickclack
Restart=always
RestartSec=60

[Install]
Alias=clickclack-server
WantedBy=multi-user.target