<!DOCTYPE HTML><html lang="fi"><head><title>Clickclack settings</title></head><style>table, th, td {border: 1px solid black;border-collapse: collapse;border-color: #96D4D4;}</style><body><form method="post"><table border="3" class="dataframe">
<tr><td colspan="2"><br/></td></tr><th colspan="2"><u><b>DEFAULT</b></u></th>
<tr><td>timezone</td><td><input size="50" type="text" id="DEFAULT.timezone" name="DEFAULT.timezone" value="2"/></td></tr>
<tr><td>emailon</td><td><input size="50" type="text" id="DEFAULT.emailon" name="DEFAULT.emailon" value="n"/></td></tr>
<tr><td>email</td><td><input size="50" type="text" id="DEFAULT.email" name="DEFAULT.email" value="x.x@gmail.com"/></td></tr>
<tr><td>emailserver</td><td><input size="50" type="text" id="DEFAULT.emailserver" name="DEFAULT.emailserver" value="smtp.gmail.com"/></td></tr>
<tr><td>emailpassword</td><td><input size="50" type="text" id="DEFAULT.emailpassword" name="DEFAULT.emailpassword" value="xxxx"/></td></tr>
<tr><td>html</td><td><input size="50" type="text" id="DEFAULT.html" name="DEFAULT.html" value="y"/></td></tr>
<tr><td>history</td><td><input size="50" type="text" id="DEFAULT.history" name="DEFAULT.history" value="n"/></td></tr>
<tr><td>callmebot</td><td><input size="50" type="text" id="DEFAULT.callmebot" name="DEFAULT.callmebot" value="n"/></td></tr>
<tr><td>api_key</td><td><input size="50" type="text" id="DEFAULT.api_key" name="DEFAULT.api_key" value="xxxxxx"/></td></tr>
<tr><td>phone_number</td><td><input size="50" type="text" id="DEFAULT.phone_number" name="DEFAULT.phone_number" value="xxxxxx"/></td></tr>
<tr><td>service</td><td><input size="50" type="text" id="DEFAULT.service" name="DEFAULT.service" value="whatsapp"/></td></tr>
<tr><td>discord</td><td><input size="50" type="text" id="DEFAULT.discord" name="DEFAULT.discord" value="n"/></td></tr>
<tr><td>webhook</td><td><input size="50" type="text" id="DEFAULT.webhook" name="DEFAULT.webhook" value="https:xxx"/></td></tr>
<tr><td>log</td><td><input size="50" type="text" id="DEFAULT.log" name="DEFAULT.log" value="log/info.log"/></td></tr>
<tr><td>errorlog</td><td><input size="50" type="text" id="DEFAULT.errorlog" name="DEFAULT.errorlog" value="log/error.log"/></td></tr>
<tr><td>consoleon</td><td><input size="50" type="text" id="DEFAULT.consoleon" name="DEFAULT.consoleon" value="y"/></td></tr>
<tr><td>temp_file</td><td><input size="50" type="text" id="DEFAULT.temp_file" name="DEFAULT.temp_file" value="data_sources/temperature"/></td></tr>
<tr><td>wind_file</td><td><input size="50" type="text" id="DEFAULT.wind_file" name="DEFAULT.wind_file" value="data_sources/wind"/></td></tr>
<tr><td>jsontoday</td><td><input size="50" type="text" id="DEFAULT.jsontoday" name="DEFAULT.jsontoday" value="data_sources/today.json"/></td></tr>
<tr><td>jsontomorrow</td><td><input size="50" type="text" id="DEFAULT.jsontomorrow" name="DEFAULT.jsontomorrow" value="data_sources/tomorrow.json"/></td></tr>
<tr><td>json_rank</td><td><input size="50" type="text" id="DEFAULT.json_rank" name="DEFAULT.json_rank" value="PriceWithTax"/></td></tr>
<tr><td>json_date</td><td><input size="50" type="text" id="DEFAULT.json_date" name="DEFAULT.json_date" value="DateTime"/></td></tr>
<tr><td>cron</td><td><input size="50" type="text" id="DEFAULT.cron" name="DEFAULT.cron" value="16"/></td></tr>
<tr><td>fetch</td><td><input size="50" type="text" id="DEFAULT.fetch" name="DEFAULT.fetch" value="y"/></td></tr>
<tr><td>fetch_command</td><td><input size="50" type="text" id="DEFAULT.fetch_command" name="DEFAULT.fetch_command" value="tools/fetch.sh"/></td></tr>
<tr><td>entsoe</td><td><input size="50" type="text" id="DEFAULT.entsoe" name="DEFAULT.entsoe" value="n"/></td></tr>
<tr><td>tax</td><td><input size="50" type="text" id="DEFAULT.tax" name="DEFAULT.tax" value="1.1"/></td></tr>
<tr><td>entsoebackup</td><td><input size="50" type="text" id="DEFAULT.entsoebackup" name="DEFAULT.entsoebackup" value="n"/></td></tr>
<tr><td>etoken</td><td><input size="50" type="text" id="DEFAULT.etoken" name="DEFAULT.etoken" value="xxx"/></td></tr>
<tr><td>ecountry</td><td><input size="50" type="text" id="DEFAULT.ecountry" name="DEFAULT.ecountry" value="10YFI-1--------U"/></td></tr>
<tr><td>hours</td><td><input size="50" type="text" id="DEFAULT.hours" name="DEFAULT.hours" value="14"/></td></tr>
<tr><td>adj_temp</td><td><input size="50" type="text" id="DEFAULT.adj_temp" name="DEFAULT.adj_temp" value="n"/></td></tr>
<tr><td>adj_chill</td><td><input size="50" type="text" id="DEFAULT.adj_chill" name="DEFAULT.adj_chill" value="n"/></td></tr>
<tr><td>capacitive</td><td><input size="50" type="text" id="DEFAULT.capacitive" name="DEFAULT.capacitive" value="n"/></td></tr>
<tr><td>backup</td><td><input size="50" type="text" id="DEFAULT.backup" name="DEFAULT.backup" value="y"/></td></tr>
<tr><td>repeat</td><td><input size="50" type="text" id="DEFAULT.repeat" name="DEFAULT.repeat" value="y"/></td></tr>
<tr><td>priority</td><td><input size="50" type="text" id="DEFAULT.priority" name="DEFAULT.priority" value="n"/></td></tr>
<tr><td>priority_hours</td><td><input size="50" type="text" id="DEFAULT.priority_hours" name="DEFAULT.priority_hours" value="16,17,18,19,21"/></td></tr>
<tr><td>fixed_days</td><td><input size="50" type="text" id="DEFAULT.fixed_days" name="DEFAULT.fixed_days" value="n"/></td></tr>
<tr><td>fixed_days_list</td><td><input size="50" type="text" id="DEFAULT.fixed_days_list" name="DEFAULT.fixed_days_list" value="mon,tue,fri"/></td></tr>
<tr><td>static</td><td><input size="50" type="text" id="DEFAULT.static" name="DEFAULT.static" value="n"/></td></tr>
<tr><td>on</td><td><input size="50" type="text" id="DEFAULT.on" name="DEFAULT.on" value="bash scripts/test.sh LoadOn"/></td></tr>
<tr><td>off</td><td><input size="50" type="text" id="DEFAULT.off" name="DEFAULT.off" value="bash scripts/test.sh LoadFF"/></td></tr>
<tr><td>pricelimit</td><td><input size="50" type="text" id="DEFAULT.pricelimit" name="DEFAULT.pricelimit" value="n"/></td></tr>
<tr><td>upperlimit</td><td><input size="50" type="text" id="DEFAULT.upperlimit" name="DEFAULT.upperlimit" value="10.0"/></td></tr>
<tr><td>lowerlimit</td><td><input size="50" type="text" id="DEFAULT.lowerlimit" name="DEFAULT.lowerlimit" value="n"/></td></tr>
<tr><td>force</td><td><input size="50" type="text" id="DEFAULT.force" name="DEFAULT.force" value="n"/></td></tr>
<tr><td>forceh</td><td><input size="50" type="text" id="DEFAULT.forceh" name="DEFAULT.forceh" value="3"/></td></tr>
<tr><td>force_range</td><td><input size="50" type="text" id="DEFAULT.force_range" name="DEFAULT.force_range" value="1"/></td></tr>
<tr><td colspan="2"><br/></td></tr><th colspan="2"><u><b>Heatpump</b></u></th>
<tr><td>hours</td><td><input size="50" type="text" id="Heatpump.hours" name="Heatpump.hours" value="24"/></td></tr>
<tr><td>on</td><td><input size="50" type="text" id="Heatpump.on" name="Heatpump.on" value="bash scripts/test.sh HeatpumpON"/></td></tr>
<tr><td>off</td><td><input size="50" type="text" id="Heatpump.off" name="Heatpump.off" value="bash scripts/test.sh HeatpumpOFF"/></td></tr>
<tr><td>backup</td><td><input size="50" type="text" id="Heatpump.backup" name="Heatpump.backup" value="on"/></td></tr>
<tr><td>adj_temp</td><td><input size="50" type="text" id="Heatpump.adj_temp" name="Heatpump.adj_temp" value="y"/></td></tr>
<tr><td>min_temp</td><td><input size="50" type="text" id="Heatpump.min_temp" name="Heatpump.min_temp" value="-20"/></td></tr>
<tr><td>min_hours</td><td><input size="50" type="text" id="Heatpump.min_hours" name="Heatpump.min_hours" value="22"/></td></tr>
<tr><td>mid_temp</td><td><input size="50" type="text" id="Heatpump.mid_temp" name="Heatpump.mid_temp" value="0"/></td></tr>
<tr><td>mid_hours</td><td><input size="50" type="text" id="Heatpump.mid_hours" name="Heatpump.mid_hours" value="10"/></td></tr>
<tr><td>max_temp</td><td><input size="50" type="text" id="Heatpump.max_temp" name="Heatpump.max_temp" value="20"/></td></tr>
<tr><td>max_hours</td><td><input size="50" type="text" id="Heatpump.max_hours" name="Heatpump.max_hours" value="2"/></td></tr>
<tr><td>adj_chill</td><td><input size="50" type="text" id="Heatpump.adj_chill" name="Heatpump.adj_chill" value="y"/></td></tr>
<tr><td>n_chill</td><td><input size="50" type="text" id="Heatpump.n_chill" name="Heatpump.n_chill" value="-3"/></td></tr>
<tr><td>ne_chill</td><td><input size="50" type="text" id="Heatpump.ne_chill" name="Heatpump.ne_chill" value="-2"/></td></tr>
<tr><td>e_chill</td><td><input size="50" type="text" id="Heatpump.e_chill" name="Heatpump.e_chill" value="0"/></td></tr>
<tr><td>se_chill</td><td><input size="50" type="text" id="Heatpump.se_chill" name="Heatpump.se_chill" value="0"/></td></tr>
<tr><td>s_chill</td><td><input size="50" type="text" id="Heatpump.s_chill" name="Heatpump.s_chill" value="-0"/></td></tr>
<tr><td>sw_chill</td><td><input size="50" type="text" id="Heatpump.sw_chill" name="Heatpump.sw_chill" value="-3"/></td></tr>
<tr><td>w_chill</td><td><input size="50" type="text" id="Heatpump.w_chill" name="Heatpump.w_chill" value="-3"/></td></tr>
<tr><td>nw_chill</td><td><input size="50" type="text" id="Heatpump.nw_chill" name="Heatpump.nw_chill" value="-1"/></td></tr>
<tr><td>cutoff_chill</td><td><input size="50" type="text" id="Heatpump.cutoff_chill" name="Heatpump.cutoff_chill" value="0"/></td></tr>
<tr><td colspan="2"><br/></td></tr><th colspan="2"><u><b>Inverter</b></u></th>
<tr><td>repeat</td><td><input size="50" type="text" id="Inverter.repeat" name="Inverter.repeat" value="n"/></td></tr>
<tr><td>hours</td><td><input size="50" type="text" id="Inverter.hours" name="Inverter.hours" value="10"/></td></tr>
<tr><td>priority</td><td><input size="50" type="text" id="Inverter.priority" name="Inverter.priority" value="y"/></td></tr>
<tr><td>priority_hours</td><td><input size="50" type="text" id="Inverter.priority_hours" name="Inverter.priority_hours" value="16,17,18,19,20"/></td></tr>
<tr><td>on</td><td><input size="50" type="text" id="Inverter.on" name="Inverter.on" value="bash scripts/test.sh InverterON"/></td></tr>
<tr><td>off</td><td><input size="50" type="text" id="Inverter.off" name="Inverter.off" value="bash scripts/test.sh InverterOFF"/></td></tr>
<tr><td>backup</td><td><input size="50" type="text" id="Inverter.backup" name="Inverter.backup" value="off"/></td></tr>
<tr><td>adj_temp</td><td><input size="50" type="text" id="Inverter.adj_temp" name="Inverter.adj_temp" value="y"/></td></tr>
<tr><td>min_temp</td><td><input size="50" type="text" id="Inverter.min_temp" name="Inverter.min_temp" value="-20"/></td></tr>
<tr><td>min_hours</td><td><input size="50" type="text" id="Inverter.min_hours" name="Inverter.min_hours" value="0"/></td></tr>
<tr><td>mid_temp</td><td><input size="50" type="text" id="Inverter.mid_temp" name="Inverter.mid_temp" value="-8"/></td></tr>
<tr><td>mid_hours</td><td><input size="50" type="text" id="Inverter.mid_hours" name="Inverter.mid_hours" value="0"/></td></tr>
<tr><td>max_temp</td><td><input size="50" type="text" id="Inverter.max_temp" name="Inverter.max_temp" value="20"/></td></tr>
<tr><td>max_hours</td><td><input size="50" type="text" id="Inverter.max_hours" name="Inverter.max_hours" value="24"/></td></tr>
<tr><td colspan="2"><br/></td></tr><th colspan="2"><u><b>Floor heating</b></u></th>
<tr><td>hours</td><td><input size="50" type="text" id="Floor heating.hours" name="Floor heating.hours" value="22"/></td></tr>
<tr><td>on</td><td><input size="50" type="text" id="Floor heating.on" name="Floor heating.on" value="bash scripts/test.sh FloorON"/></td></tr>
<tr><td>off</td><td><input size="50" type="text" id="Floor heating.off" name="Floor heating.off" value="bash scripts/test.sh FloorOFF"/></td></tr>
<tr><td>backup</td><td><input size="50" type="text" id="Floor heating.backup" name="Floor heating.backup" value="on"/></td></tr>
<tr><td>adj_temp</td><td><input size="50" type="text" id="Floor heating.adj_temp" name="Floor heating.adj_temp" value="y"/></td></tr>
<tr><td>adj_chill</td><td><input size="50" type="text" id="Floor heating.adj_chill" name="Floor heating.adj_chill" value="y"/></td></tr>
<tr><td>min_temp</td><td><input size="50" type="text" id="Floor heating.min_temp" name="Floor heating.min_temp" value="-20"/></td></tr>
<tr><td>min_hours</td><td><input size="50" type="text" id="Floor heating.min_hours" name="Floor heating.min_hours" value="22"/></td></tr>
<tr><td>mid_temp</td><td><input size="50" type="text" id="Floor heating.mid_temp" name="Floor heating.mid_temp" value="0"/></td></tr>
<tr><td>mid_hours</td><td><input size="50" type="text" id="Floor heating.mid_hours" name="Floor heating.mid_hours" value="9"/></td></tr>
<tr><td>max_temp</td><td><input size="50" type="text" id="Floor heating.max_temp" name="Floor heating.max_temp" value="20"/></td></tr>
<tr><td>max_hours</td><td><input size="50" type="text" id="Floor heating.max_hours" name="Floor heating.max_hours" value="2"/></td></tr>
<tr><td>n_chill</td><td><input size="50" type="text" id="Floor heating.n_chill" name="Floor heating.n_chill" value="-2"/></td></tr>
<tr><td>ne_chill</td><td><input size="50" type="text" id="Floor heating.ne_chill" name="Floor heating.ne_chill" value="-2"/></td></tr>
<tr><td>e_chill</td><td><input size="50" type="text" id="Floor heating.e_chill" name="Floor heating.e_chill" value="0"/></td></tr>
<tr><td>se_chill</td><td><input size="50" type="text" id="Floor heating.se_chill" name="Floor heating.se_chill" value="0"/></td></tr>
<tr><td>s_chill</td><td><input size="50" type="text" id="Floor heating.s_chill" name="Floor heating.s_chill" value="-0"/></td></tr>
<tr><td>sw_chill</td><td><input size="50" type="text" id="Floor heating.sw_chill" name="Floor heating.sw_chill" value="-2"/></td></tr>
<tr><td>w_chill</td><td><input size="50" type="text" id="Floor heating.w_chill" name="Floor heating.w_chill" value="-2"/></td></tr>
<tr><td>nw_chill</td><td><input size="50" type="text" id="Floor heating.nw_chill" name="Floor heating.nw_chill" value="-1"/></td></tr>
<tr><td>cutoff_chill</td><td><input size="50" type="text" id="Floor heating.cutoff_chill" name="Floor heating.cutoff_chill" value="0"/></td></tr>
<tr><td colspan="2"><br/></td></tr><th colspan="2"><u><b>Car charger</b></u></th>
<tr><td>static</td><td><input size="50" type="text" id="Car charger.static" name="Car charger.static" value="y"/></td></tr>
<tr><td>static_sche</td><td><input size="50" type="text" id="Car charger.static_sche" name="Car charger.static_sche" value="00,01,02,03,04,05,06"/></td></tr>
<tr><td>on</td><td><input size="50" type="text" id="Car charger.on" name="Car charger.on" value="bash scripts/test.sh CarON"/></td></tr>
<tr><td>off</td><td><input size="50" type="text" id="Car charger.off" name="Car charger.off" value="bash scripts/test.sh CarOFF"/></td></tr>
<tr><td>upperlimit</td><td><input size="50" type="text" id="Car charger.upperlimit" name="Car charger.upperlimit" value="16.8"/></td></tr>
<tr><td>lowerlimit</td><td><input size="50" type="text" id="Car charger.lowerlimit" name="Car charger.lowerlimit" value="5.9"/></td></tr>
<tr><td colspan="2"><br/></td></tr><th colspan="2"><u><b>Forced</b></u></th>
<tr><td>hours</td><td><input size="50" type="text" id="Forced.hours" name="Forced.hours" value="1"/></td></tr>
<tr><td>on</td><td><input size="50" type="text" id="Forced.on" name="Forced.on" value="bash scripts/test.sh ForcedON"/></td></tr>
<tr><td>off</td><td><input size="50" type="text" id="Forced.off" name="Forced.off" value="bash scripts/test.sh ForcedOFF"/></td></tr>
<tr><td>force</td><td><input size="50" type="text" id="Forced.force" name="Forced.force" value="y"/></td></tr>
<tr><td>forceh</td><td><input size="50" type="text" id="Forced.forceh" name="Forced.forceh" value="5"/></td></tr>
<tr><td>force_range</td><td><input size="50" type="text" id="Forced.force_range" name="Forced.force_range" value="3"/></td></tr>
</table><br/><input name="action" type="submit" value="SAVE"></form></body></html>